@media screen and (max-width:823px){
	body{font-size: 2em;}
	#main-nav{display: none;}
	header > #main > .wrapper > nav span{display: block; top: 30px;}
}

@media screen and (max-width:782px){
	h1{font-size: 1.5rem;}
}

@media screen and (max-width:767px){
	header > #main > .wrapper > nav span{top: -50px;}
	/*SECTION-ABOUT-US***************************************/
	section#about-us > .wrapper > .row > .col p{text-align: center; margin: 0 0 30px 0;}
	/****************************************************/
	/*SECTION-SERVICES***************************************/
	section#services > .wrapper p,
	section#services > .wrapper > .col h4,
	section#services > .wrapper > .col p{text-align: center;}
	section#services > .wrapper > .col img{
	width: 10%;
	height: 50px;
	border-radius: 50%;
	margin: 20px 0 20px 0;
	}
	/****************************************************/
	/*FOOTER***************************************/
	footer > .wrapper > .left{text-align: center;}
	footer > .wrapper > .right{	text-align: center;}
}

@media screen and (max-width:680px){
	.overlay a {font-size: 20px}
	.closebtn {
		font-size: 40px !important;
		top: 15px;
		right: 35px;
	}
}

@media screen and (max-width:560px){
	h1{font-size: 1.2rem;}
	a{font-size: 0.8rem}

	section#portfolio > .wrapper > label{display: block; width: 100%;}	
	section#portfolio > .wrapper > input.c-selector-all:checked ~ .ff-items li{width: 100%}	
	@-webkit-keyframes scaleUp {
		50% { width: 100%; -webkit-transform: scale(0,0); }
	    100% { width: 100%; -webkit-transform: scale(1,1); }
	}
	@-webkit-keyframes scaleDown {
		0% { width:  100%;-webkit-transform: scale(1,1);}
		99% { width:  100%; -webkit-transform: scale(0,0);}
	    100% { width: 0px; -webkit-transform: scale(0,0); }
	}
	@-moz-keyframes scaleUp {
		50% { width:  100%; -moz-transform: scale(0,0); }
	    100% { width:  100%; -moz-transform: scale(1,1); }
	}
	@-moz-keyframes scaleDown {
		0% { width:  100%;-moz-transform: scale(1,1);}
		99% { width:  100%; -moz-transform: scale(0,0);}
	    100% { width: 0px; -moz-transform: scale(0,0); }
	}
	@-o-keyframes scaleUp {
		50% { width:  100%; -o-transform: scale(0,0); }
	    100% { width:  100%; -o-transform: scale(1,1); }
	}
	@-o-keyframes scaleDown {
		0% { width:  100%;-o-transform: scale(1,1);}
		99% { width:  100%; -o-transform: scale(0,0);}
	    100% { width: 0px; -o-transform: scale(0,0); }
	}
	@-ms-keyframes scaleUp {
		50% { width:  100%; -ms-transform: scale(0,0); }
	    100% { width:  100%; -ms-transform: scale(1,1); }
	}
	@-ms-keyframes scaleDown {
		0% { width:  100%;-ms-transform: scale(1,1);}
		99% { width:  100%; -ms-transform: scale(0,0);}
	    100% { width: 0px; -ms-transform: scale(0,0); }
	}
	@keyframes scaleUp {
		50% { width:  100%; transform: scale(0,0); }
	    100% { width:  100%; transform: scale(1,1); }
	}
	@keyframes scaleDown {
		0% { width:  100%; transform: scale(1,1);}
		99% { width:  100%; transform: scale(0,0);}
	    100% { width: 0px; transform: scale(0,0); }
	}	
}


@media screen and (max-width:470px){
	h1{font-size: 0.8rem;}
	a{font-size: 0.8rem;}
	p{font-size: 0.8rem;}				
}

@media screen and (max-width:395px){
}

@media screen and (max-width:300px){
	h1{font-size: 0.6rem;}
	a{font-size: 0.6rem;}
	p{font-size: 0.6rem;}		
}